= render '/items/header'
.navigation
  .navigation__container
    .navigation__container__content
      = render 'shared/breadcrumbs'
       
.mypage
  .mypage__main
    = render "users-sidebar"
    = render "users-information"
= render '/items/footer'